body {
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

input,
textarea,
button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}


.custom-dropdown-button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: left;
}

.custom-dropdown-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.custom-dropdown-menu .dropdown-item {
    color: black;
    padding: 0rem 1rem;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}